<div class="row">
  <div class="col-lg-12">
    <h1>レビュー登録</h1>
    <ul>
      <li>旅行地：<%= @destination.name %></li>
      <li>住所：<%= @destination.address %></li>
      <li>最寄駅：<%= @destination.access %></li>
    </ul>

    <hr>
    <%= render 'form' %>
  </div>
</div>
